---
import removeTrailingSlash from "../utils/removeTrailingSlash";
import presentation from "../data/presentation";
import LanguagePicker from './LanguagePicker.astro';
import { getLangFromUrl } from "../utils/lang";

const pathname = removeTrailingSlash(Astro.url.pathname);
const lang = getLangFromUrl(Astro.url);
---
<header class="sticky top-0 z-50 w-full backdrop-blur-[2px]">
  <div class="max-w-6xl mx-auto px-4 py-4">
    <div class="flex w-full flex-col gap-2 md:flex-row md:justify-between md:items-center">
      <LanguagePicker />

      <nav role="navigation">
        <ul role="list" class="flex flex-row gap-2">
          <li>
            <a
              href={`/${lang === "br" ? "" : lang}`}
              class:list={{
                ["hover:text-neutral-100"]: true,
                ["text-neutral-100"]: pathname === "/",
              }}>Home</a
            >
          </li>
          <li>/</li>
          <li>
            <a
              href={`/${lang}/posts`}
              class:list={{
                ["hover:text-neutral-100"]: true,
                ["text-neutral-100"]: pathname === "/posts",
              }}>Posts</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
