---
---

<div class="relative h-full flex flex-col">
  <div class="flex-1 rounded-lg overflow-hidden bg-fuchsia-900/20 border border-fuchsia-400/30">
    <img 
      src='/coffe.gif' 
      alt='Coffee break moment' 
      class="w-full h-full object-cover"
      loading="lazy"
    />
  </div>
</div> 